{% extends 'layout/master.html.twig' %}

 {% block titulo %}Registrar producto{% endblock %}


 
 

{% block form %}

    <div class="container">
        <div>
            <h5 class="center-align">Productos</h5>
        </div>
    </div>

    </br>
    
        {% for message in app.session.flashbag().get('message') %}

            <center><strong>{{ message }}</strong></center>

        {% endfor %}
    
    <div class="container">
        <div class="row">

            <div class="row card-panel" id="panelpro">
                
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}

            </div> 

        </div> 

    </div>



{% endblock %}


{% block javascripts %}
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="{{asset('assets/js/materialize.min.js')}}"></script>
        
        <script>
document.addEventListener('DOMContentLoaded', function () {
    M.AutoInit();
});

    </script>

    {% endblock %}