<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Jetblack{% endblock %}</title>
        {% block stylesheets %}

            <!--Import Google Icon Font-->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!--Import materialize.css-->
            <link type="text/css" rel="stylesheet" href="{{asset('assets/css/materialize.css')}}"  media="screen,projection"/>
              <link type="text/css" rel="stylesheet" href="{{asset('assets/css/estilos.css')}}"  media="screen,projection"/>
        {% endblock %}
    </head>
    <body>

    

    {% block body %}
    
    
     <nav>
            <div class="nav-wrapper">
                <a href="{{ path('index')}}" class="brand-logo"><i class="large material-icons" id="hola">build</i>JetBlack</a>

                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">

                 
                     <li><a href="{{ path('crear-producto')}}" class="waves-effect waves-light btn">Productos </a></li>
                    <li><a href="{{ path('crear-categoria')}}" class="waves-effect waves-light btn">Categorias </a></li>
                </ul>
            </div>
        </nav>
        
        
        
     <ul class="sidenav" id="mobile-demo">

            <li><a href="" class="waves-effect waves-light btn">Productos </a></li>
            <li><a href="" class="waves-effect waves-light btn">Categorias </a></li>
        </ul>

        <br/>

       
    
    
    
    
    
    {% endblock %}
    
      {% block form %}
            
            {% endblock form %}

    
    
    
    {% block javascripts %}
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="{{asset('assets/js/materialize.min.js')}}"></script>
        
        <script>
document.addEventListener('DOMContentLoaded', function () {
    M.AutoInit();
});

    </script>

    {% endblock %}
</body>
</html>
